@font-face {
    font-family: "headline";
    src: url("../font/headline.ttf");
}

body {
  background: url(../img/background-wood.jpg) repeat-y center;
  background-size: cover;
}

div.container {
  background-color: rgba(255,255,255,.5);
  box-shadow: 0 0 20px 25px rgba(0,0,0,.5)
}

.navbar-brand img {
  width: 70px;
  height: 40px;
  opacity: .8;
  transform: scale3d(1,1,1);
  transition: .25s ease-in-out;
}

.navbar-brand:hover img {
  opacity: 1;
  transform: scale3d(1.1,1.1,1);
}

a.nav-link:link {
  transition: .25s ease-in-out;
}

.headline {
  font-family: "headline";
}

.cdo-color {
  background-color: #a90000
}

.blockquote-reverse {
  border-color: #a90000;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

#arsenal img {
  height: auto;
}

#home {
  background: url(../img/background.jpg) no-repeat 0% 0%;
  background-size: 140%;
}

#home h1 {
  letter-spacing: 3px;
  text-shadow: 1px 1px 5px rgba(0,0,0,.5);
}

#home p {
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px rgba(0,0,0,.6);
}

#about1 {
  background: url(../img/about1.jpg) no-repeat 60% 33%;
  background-size: 110%;
}

.trans-img {
  border-top: solid 1px #292b2c;
  border-bottom: solid 1px #292b2c;
  height: 200px;
}

@media (max-width: 575px) {
  #home h1 {
    letter-spacing: 3px;
    text-shadow: 1px 1px 5px rgba(0,0,0,.5);
  }

  #home p {
    letter-spacing: 0px;
    text-shadow: 1px 1px 2px rgba(0,0,0,.6);
  }
}

@media (max-width: 767px) {
  #home {
    background-position: 24% 60%;
    background-size: auto;
  }
}
